@{
    ViewData["Title"] = "Home Page";
}

<h1>Frequently Asked Questions</h1>
<p>Please, find below information that will help you navigate through our application</p>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         1) Households
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <h2>1-1) How do I create a new membership for a household?</h2>

<p>To create a membership, click on the households tab on the sidebar. On the households index page, click on the Create New button at the top. 
You will be prompted with a form to create a new household. After you fill in the Household information, you will be presented to add a new member to your newly created
membership.</p>

<p>You don't need to add a member to a household right away. As soon as the household information is entered, it will be saved in our database and you can
enter new members later on.</p>

<p>In our dashboard, you will find a quick button to create a new household. We placed over there for your convenience.</p>

<h2>1-2) How do I add a member to an existing household membership?</h2>

<p>To add a member to an existing membership, click on the households tab on the side bar. You will prompted with a table of all the households registered in our 
database. On the last column of every row, you will see action icons to edit the household information, to see the household information in more detail and also to 
add a new member to it straight away.</p> 

<p>Click on the green person icon with a plus on it to add a new member to an existing household.</p>

<p>For your convenience, we also added an add button inside the detailed household page. Once in the index page, click on the blue info icon to navigate to the Details Page.
There you will find a members table attached to that household on the bottom. The last table header will be an add button to add a member to that particular 
household membership.</p>

<h2>1-3) How do I change households' information?</h2>

<p>To change household information, click on the households tab on the sidebar. You will prompted with a table of all the households registered in our 
database. On the last column of every row, you will see action icons to edit the household information, to see the household information in more detail and also to 
add a new member to it straight away. </p>

<p>Click on the grey pencil icon to navigate to the edit page for that specific household.</p>

<h2>1-4) How do I see more details of a household?</h2>

<p>To see more details of a household, click on the households tab on the sidebar. You will prompted with a table of all the households registered in our 
database. On the last column of every row, you will see action icons to edit the household information, to see the household information in more detail and also to 
add a new member to it straight away.</p> 

<p>Click on the blue info icon to navigate to the details page of a specific household.</p>

<h2>1-5) How do I delete a household?</h2>

<p>To delete a household, click on the households tab on the sidebar. You will be prompted with a table of all the households registered in our 
database. On the last column of every row, you will see action icons to edit the household information, to see the household information in more detail and also to 
add a new member to it straight away.</p> 

<p>Click on the blue info icon to navigate to the details page of a specific household. There you willsee a delete button at the top. Click on it to navigate to the
delete confirmation page. There, you will be asked to confirm the deletion. Don't worry, the household will only be deleted after you confirmed it. Just navigating
to the deletion page doesn't alter our database.</p>

<p>Deletion of households memberships are restricted to administrators only.</p>

<h2>1-6) Can I delete a household with members attached to it?</h2>

<p>No. For safety reasons, we decided that it's better to restrict household deletions to empty households only. You will need to delete all the members on that household 
prior to deleting the whole membership.</p>

<p>This ensures that you don't accidentaly delete members' informations.</p>

<h2>1-7) How does LICO verification work?</h2>

<p>For your convenience, the LICO verification runs automatically on the background so you don't need to think about it while adding a new member.
It will update the household information every time you add or edit a new member.</p>

<h2>1-8) What if a member is over the LICO Threshold for just a bit?</h2>

<p>A Super Administrator can judge situations like these case to case. They have the ability to toggle LICO verification status on a household at will.</p>

<h2>1-9) What if a member doesn't have a fixed address?</h2>

<p>While creating the household, there is a No Fixed Address check box on the top of the form. Check that box so the household will have GROW address as their own.</p>

<h2>1-10) Where would a Super Administrator be able to change LICO Verification status of a household?</h2>

<p>On the household details page, the Super Admin will have access to a button on the top of the page that will change the LICO status at their will.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2) Members
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <h2>2-1) How do I add a new member?</h2>

<p>If the member is part of a household already subscribed to GROW, you have to ask for their household information first. Once you have it, click on the households tab on the sidebar. You will be prompted with a table of all the households registered in our 
database. On the last column of every row, you will see action icons to edit the household information, to see the household information in more detail and also to 
add a new member to it straight away.</p> 

<p>Click on the green perfon icon to add a new member to that household.</p>

<p>If a member is not part of a household subscribed to GROW, you will have to enter their household information first.</p> 

<p>To create a membership, click on the households tab on the sidebar. On the households index page, click on the Create New button at the top. 
You will be prompted with a form to create a new household. After you fill in the Household information, you will be presented to add a new member to your newly 
created membership.</p>

<h2>2-2) How do I change members' informations?</h2>

<p>To change member's information you can do it two ways.</p>

<p>Click on the households tab on the sidebar. Over there, you will see a button called Member's Index. There you will see a table of all members of GROW and in the last
column of all rows, you will see a group of action icons. Click on the grey pencil icon to navigate to the edit page. Over there, you can edit the selected member
information.</p>

<p>Alternatively, you can navigate to the member's household in the Households Index and click the corresponding blue 'i' icon to go to the Household Details page. From 
there, you will see a list of the household's members in a table near the top of the page. From here, click the green 'Edit' button next to the member whose details 
you would like to change, and you will be brought to the Edit Member page where you can do so.</p>

<h2>2-3) How do I see a member's details?</h2> 

<p>There are two ways to find a member's details.</p>

<p>Click on the Households tab on the sidebar. Here you will see a button called Members Index. Click that and you will be brought to the Members Index page, where you 
can find every member registered in the GROW database and search for the one you need by pressing the grey 'Filter/Sort' button. From here, click the blue 'i' icon 
next to the member whose details you want to view and you will be brought to their details page. </p>

<p>Alternatively, you can navigate to the member's household in the Households Index and click on the corresponding blue 'i' icon to go to that household's Details page. 
On this details page you will find a list of member's belonging to the household. Click on the blue-highlighted name of the member you want to view and you will be 
brought directly to their details page.</p>

<h2>2-4) How do I delete a member?</h2>

<p>There are two ways to accomplish this task.</p>

<p>Click on the Households tab on the sidebar. Here you will see a button called Members Index. Click that and you will be brought to the Members Index page, where you 
can find every member registered in the GROW database and search for the one you need by pressing the grey 'Filter/Sort' button. From here, click the red circle icon. 
This will bring you to a confirmation screen where you can view the member's details and make sure that you want to delete them. On this page, you can click the red 
Delete button at the bottom to follow through and delete them from the system, or the grey Cancel and go back to the previous page without deleting the member.</p>

<p>Alternatively, you may also delete a member from the Household Details page much the same way as you can edit them. Go to the Households button on the side bar and 
click it, then find the household that the member you are looking to delete belongs to. Click the corresponding blue 'i' button to navigate to the Household Details 
page. From here, locate the member you wish to delete in the upper Household Members table and click the red Delete button. Again, this will bring you to a member 
details page where you may confirm or cancel the deletion. </p>

<h2>2-5) There are a lot of members. How can I find the one I'm looking for?</h2>

<p>Due to the naturally large number of members being dealt with, it has been made exceptionally easy to locate a specific member in the system and there are two ways to do this.</p>

<p>Navigate to the Households Index via the Households button on the side bar, then click the blue Members Index button near the top of the page. Once on the Members 
Index page, click the grey 'Filter/Sort' button near the top and you will be presented with a number of different options. From here you will be able to search by 
Member Name, Phone Number, Household Address, Household ID, Gender, or any combination of the above.</p>

<p>If you want, you can also navigate directly to the household that the member belongs to on the Households Index page if you know it and select the blue 'i' icon next 
to it. Here you can see all members belonging to that household, including the one you are looking for.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3) Orders
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <h2>3-1) How do I create a new order?</h2> 

<p>Click on the Orders button on the sidebar, represented by a shopping cart icon, and you will be brought to a page listing every order that has been placed in the 
system. Click on the green 'Create New' button near the top of the page. You will now need to enter two things. First, enter the Household ID and click the grey 
'Search' button. From here you will be prompted to select a member. Select the member placing the order and click the green 'Create' button to be brought to the New 
Order page.</p>

<p>On this page you can add items to the order by pressing the green '+' button under the Order Information section. This will create a popup prompting you to select an 
item from a dropdown list as well as the quantity of the item being purchased. Make the appropriate selections for the purchase being made and click the grey 'Create' 
button to add this item to the order. Repeat this process for each item the member wishes to purchase. </p>

<p>Once you have added all of the member's selected items to the Order Information section, you are going to want to turn your eyes to the top right area of the page. 
Here you should find a section titled 'Pay and Submit' where you can select the payment method being used for the transaction. Once you have made the appropriate 
selection from the dropdown menu, click the green 'Create' button to finish entering the order into the system. </p>

<p>3-2) I made a mistake in creating a new order. Can I go back and fix it? </p>

<p>Yes! To edit any order, navigate to the Orders Index from the Orders button on the sidebar. From here, click the grey pencil icon next to the order you want to edit 
and you'll be brought back to the same screen you used to add items and select payment type in the first place.</p>

<h2>3-3) What if I want to delete an order?</h2>

<p>You can delete orders by navigating to the Orders Index via the Orders button on the sidebar. From here, simply find the order you need to delete and click the red 
circle icon next to it. You will then be brought to a summary page to review the order being deleted. You can now click the red 'Delete' button to continue with 
deleting the order, the 'Back to Orders' button to return to the previous page, or the 'Back to Member' button to view the details of the member whose purchase you are 
currently looking at.</p>

<h2>3-4) How can I quickly find a specific order in the system?</h2>

<p>To quickly find any order, all you need to do is navigate to the Orders page via the sidebar and then click the grey 'Filter/Search' button near the top of the page, 
under 'Create New'. This will expand a menu which lets you search orders by Household Name or ID, Member, and Payment Type. Once you have entered the appropriate 
information, click the green 'Submit' button and the table below will display only orders that meet these criteria.</p>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          4) Items
        </button>
      </h2>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <h2>4-1) What if the item I need isn't in the system?</h2>

<p>First of all, this operation is restricted to administrators only. To add a new item to the GROW system, find the Items button on the sidebar, represented by a book icon. This will bring you to the Items Index where you can find every 
item currently in the GROW system and perform a number of different operations on them. From here, click the green 'Create New' button near the top of the page to 
navigate to the Item Creation page.</p>

<p>Here, you will be prompted for an Item Code, Name, Description, Price, Discount Percentage, and Category. All of these fields are required except Discount and 
Description, so fill these out appropriately to match the item you wish to add. Once you have filled out the form, click the green 'Create' button at the bottom to add 
the item to the system and return to the Items Index.</p>

<h2>4-2) How do I edit an item that's already been created?</h2>

<p>Navigate to the Items Index via the Items button on the sidebar, and find the item you want to edit in the list. Once you have found the item you want to edit, click 
the grey pencil icon to navigate to the Edit Item page. Here you can change any of the item's details including its Item Code.</p>

<h2>4-3) How can I apply a discount to an item? How do I remove a discount?</h2>

<p>To add or remove a discount from any item, navigate to the Items Index and click the grey pencil icon next to the item you want to change. On this Edit Item page, you 
can change the 'Discount (%)' field to represent the discount (or lack thereof) you wish to apply to that item.</p>

<h2>4-4) How can I quickly find a specific item?</h2>

<p>Like most other indexes, it is possible to filter by a variety of fields to find the item you need. First, navigate to the Items Index via the Items button on the 
sidebar. From here, click the grey 'Filter/Search' button near the top and take note of the fields you can search by. Once you have entered the relevant information 
you wish to search/filter by, click the green 'Filter' button and the table below will reflect your specifications.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          5) Misc Data & Lookup Values
        </button>
      </h2>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <h2>5-1) What is the Misc Data tab for on the side bar? </h2>

<p>The Misc Tab is there so that administrators can add or remove "lookup values" within the app. Lookup values are essentially anything you might find in a dropdown list 
that isn't prone to changing any time soon. The dietary restrictions and payment type selections are examples of this. Essentially, they exist to allow for flexibility 
and growth of the application over time to suit the needs of the user.</p>

<h2>5-2) How can I change or add lookup values?</h2>

<h3>-- Add</h3>
<p>All tabs in the Lookup Values page will have the same options asides from Notification Types which has an extra option for sending a notification. To add a value to 
the lookups, select which one you would like to add to, Cities for example, and click the 'Create' button near the bottom left of the window. You will be prompted to 
enter a city name. Click the green 'Create' button after filling in the Name field and that city will be added to the lookup values for City.</p>

<h3>-- Edit</h3>
<p>If you want to edit a value, click on the item you want to edit in the list and it should be highlighted. Now, click the 'Edit' button near the bottom left of the 
screen. This will bring you to an Edit page where you can change the name of your selected lookup value.</p>

<h3>-- Delete</h3>
<p>If you want to delete a value altogether, click on the item you want to delete from the list and it should be highlighted. Now, click the 'Delete' button near the 
bottom of the screen alongside the other action buttons. You will be asked if you're sure that you want to delete the selected item, which you can confirm by clicking 
the red 'Delete' button or back out of by clicking 'Back to Lookup List'.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          6) Users & Roles
        </button>
      </h2>
    </div>

    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        <h2>6-1) Who can assign roles?</h2>

<p>For security reasons, only the Super Administrator is able to assign roles to volunteers of GROW. </p>

<h2>6-2) Can a Super Administrator change their own role?</h2>

<p>No. This would make it possible to have NO Super Administrators at a given time meaning that no roles could ever be assigned again.</p>

<h2>6-3) Can there be multiple Super Administrators and Admins? </h2>

<p>Yes, there can be as many of each role as the organization sees fit. </p>

<h2>6-4) How do I create a new user?</h2>

<p>While logged in as the Super Administrator, go down to the Employees tab on the sidebar. Click it and you will be brought to the Employees Index, listing all current 
employees. Next, click 'Create New Employee' near the top of the page. Once on the Register Employee page, fill out all the necessary and required fields. New users 
will automatically be assigned the lowest User role but can be assigned greater privileges after the fact.</p>

<h2>6-5) Can I disable a user login?</h2>

<p>Yes you can. As a Super Administrator, navigate to the Employees Index via the sidebar and click the 'Edit' button corresponding to the user you wish to disable. You 
will be brought to an Edit page where you can edit their information. From here, un-check the 'Active' checkbox. Be warned, however, that unchecking this will force 
that user to re-register their email with the GROW system after checking it again.</p>
      </div>
    </div>
  </div>
</div>