@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GROW - POS</h1>
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <a class="btn btn-lg btn-outline-success" asp-controller="Households" asp-action="Create">New Household</a>
                </div>
                <div class="col-md-7">
                    <a class="btn btn-lg btn-outline-primary" asp-controller="Households" asp-action="Index">Search Household</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
