<!-- Modal-->
<div class="modal fade" id="pageSizeModal" tabindex="-1" role="dialog" aria-labelledby="pageSizeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="pageSizeModalLabel">Set Page Size</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form method="get" action="@ViewData["Action"]">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Page Size: </span>
                                </div>
                                @foreach (var q in Context.Request.Query)
                                {
                                    if (q.Key != "pageSizeID")
                                    {
                                        <input hidden name="@q.Key" value="@q.Value" />    
                                    } 
                                }
                                @if (!(ViewData["pageSizeID"] is null))
                                {
                                    @Html.DropDownList("pageSizeID", null, htmlAttributes: new { @class = "form-control" })
                                }
                                <div class="input-group-append">
                                    <input type="submit" class="btn btn-primary" value="Set Page Size" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
