@model GROW_CRM.Models.Gender

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gender</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <button id="auto-fill" class="btn btn-outline-info">Auto Fill</button>
</div>
<div>
    <a asp-action="Index" asp-controller="Lookups" asp-route-Tab="GendersTab">Back to Lookup List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).on('click', '#auto-fill', function(event){
        document.getElementById("Name").value = "Fluid";
    })
    </script>
}