@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_IdentityLayout";
}


<div class="centered form-bg p-0 m-0 rounded-lg identity-form">
    <h4 class="form-title rounded-top">@ViewData["Title"]</h4>
    <div class="pl-5 pr-5 pt-3 pb-3">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h4>Enter your email.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn button">Submit</button>
            </div>
             <div class="form-group">
                <p>
                    <a asp-page="./Login">Return to Login</a>
                </p>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
