@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_IdentityLayout";
}

<h1>@ViewData["Title"]</h1>

<div class="centered animated-text" style="z-index: 2">
    <p class="text-line">Welcome To GROW</p>
    @*<p class="first-line">Welcome</p>
    <p class="second-line">To</p>
    <p class="third-line">GROW</p>*@
</div>


<div class="centered form-bg p-0 m-0 rounded-lg identity-form login-form">
    <h4 class="form-title rounded-top">Log In</h4>
    <div class="pl-5 pr-5 pt-3 pb-3">
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label><span> <i id="password-toggle" class="fa-solid fa-eye"></i></span>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn button">Log in</button>
            </div>
            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                @*<p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>*@
            </div>
        </form>

        <button id="admin-log" class="button btn">Admin Login</button>
        <button id="super-log" class="button btn">Super Login</button>
        <button id="user-log" class="button btn">User Login</button>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />  
    <script>
        $(document).on('click', '#admin-log', function(event){
            changeCreds("admin1@outlook.com", "password");
        })

        $(document).on('click', '#user-log', function(event){
            changeCreds("user1@outlook.com", "password");
        })

        $(document).on('click', '#super-log', function(event){
            changeCreds("super1@outlook.com", "password");
        })

        function changeCreds(email, password){
            var em = document.getElementById("Input_Email")
            var pass = document.getElementById("Input_Password")

            em.value = email;
            pass.value = password;
        }      
        
        $(document).on('click', '#password-toggle', function () {
    passwordToggle();
})

function passwordToggle() {
    var element = document.getElementById("Input_Password")
    var toggle = document.getElementById("password-toggle");
    var type = element.getAttribute("type");
    if (type === "password") {
        element.setAttribute("type", "text");
        toggle.className = 'fa-solid fa-eye-slash';
    }
    else {
        element.setAttribute("type", "password");
        toggle.className = 'fa-solid fa-eye';
    }
}
    </script>
}
