@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register Employee</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <fieldset class="form-group border p-4 rounded">
                <legend class="w-auto">Personal Info</legend>
            <div class="form-group">
                <label asp-for="Input.FirstName" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="Input.FirstName" class="form-control" autofocus/>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Phone" class="control-label"></label>
                <input asp-for="Input.Phone" class="form-control" />
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="form-group border p-4 rounded">
                <legend class="w-auto">Account Info</legend>
                <h4 class="text-primary">@ViewData["msg"]</h4>
                <div class="form-group">
                    <label asp-for="Input.Email"></label><span style="color:red">*</span>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label><span style="color:red">*</span>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label><span style="color:red">*</span>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        <button type="submit" class="btn btn-outline-primary">Register</button>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
