@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_IdentityLayout";
}

<h1>@ViewData["Title"]</h1>

<div class="centered p-0 m-0 rounded-lg identity-form">
    <h4 class="form-title rounded-top">Register</h4>
    <div class="pl-5 pr-5 pt-3 pb-3">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h4 class="text-primary">@ViewData["msg"]</h4>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn button">Register</button>
            <div class="form-group mt-2">
                <p>
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login here.</a>
                </p>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
