@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_IdentityLayout";
}


<div class="centered form-bg p-0 m-0 rounded-lg identity-form">
    <h4 class="form-title rounded-top">@ViewData["Title"]</h4>
    <div class="pl-5 pr-5 pt-3 pb-3">
        <form method="post">
            <h4>Reset your password.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label><span> <i id="password-toggle" class="fa-solid fa-eye"></i></span>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label><span> <i id="confirm-password-toggle" class="fa-solid fa-eye"></i></span>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn button">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
<script>
    $(document).on('click', '#password-toggle', function () {
        passwordToggle();
    })

    function passwordToggle() {
        var element = document.getElementById("Input_Password")
        var toggle = document.getElementById("password-toggle");
        var type = element.getAttribute("type");
        if (type === "password") {
            element.setAttribute("type", "text");
            toggle.className = 'fa-solid fa-eye-slash';
        }
        else {
            element.setAttribute("type", "password");
            toggle.className = 'fa-solid fa-eye';
        }        
    }

    $(document).on('click', '#confirm-password-toggle', function () {
        confirmPasswordToggle();
    })

    function confirmPasswordToggle() {
        var element = document.getElementById("Input_ConfirmPassword")
        var toggle = document.getElementById("confirm-password-toggle");
        var type = element.getAttribute("type");
        if (type === "password") {
            element.setAttribute("type", "text");
            toggle.className = 'fa-solid fa-eye-slash';
        }
        else {
            element.setAttribute("type", "password");
            toggle.className = 'fa-solid fa-eye';
        }
    }
</script>
<partial name="_ValidationScriptsPartial" />
}
