@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_IdentityLayout";
}


<div class="centered form-bg p-0 m-0 rounded-lg identity-form">
    <h4 class="form-title rounded-top">@ViewData["Title"]</h4>
    <div class="pl-5 pr-5 pt-3 pb-3">
        <form method="post">
            <h4>Reset your password.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn button">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
