<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="Categories">Select a tab</h4>
    <div class="card-body">
        <select class="form-control" size="6">

        </select>
    </div>
    <div class="card-footer">
    </div>
</div>