<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="NotificationTypes">Notification Types</h4>
    <div class="card-body">
        @Html.DropDownList("NotificationTypesID", null, htmlAttributes: new { @size = 6, @class = "form-control" })
    </div>
    <div class="card-footer">
        <a asp-controller="NotificationTypes" asp-action="Create">Create</a> |
        <a asp-controller="NotificationTypes" asp-action="Edit" class="linkClick">Edit</a> |
        <a asp-controller="NotificationTypes" asp-action="Delete" class="linkClick">Delete</a>|
        <a asp-controller="NotificationTypes" asp-action="Notification" class="linkClick">Send Notification</a>

    </div>
</div>
