@model IEnumerable<GROW_CRM.ViewModels.UserVM>

@{
    ViewBag.Title = "Index";
}

<h2>User Role Assignments</h2>

<div class="table-responsive">
    <table class="table table-striped rounded-lg">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserRoles)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @{
                            foreach (var r in item.UserRoles)
                            {
                                @:  @r <br />
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" class="text-secondary h4" data-toggle="tooltip" data-placement="top" title="Edit" asp-route-id="@item.Id">
                        <i class='bx bxs-edit-alt'></i>
                    </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>