<!-- Modal -->
<div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="verificationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verificationModalLabel">Verify Household</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="get" asp-action="VerifyHousehold" asp-controller="HouseholdMembers">
            <input type="hidden" name="id" value="@ViewData["IdForModal"]" />
            <button type="submit" class="btn btn-outline-primary">Verify</button>
        </form>
      </div>      
    </div>
  </div>
</div>