@model GROW_CRM.Models.Household

@{
    ViewData["Title"] = "Create Household";
}



<h2>Create Household</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StreetNumber" class="control-label"></label>
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AptNumber" class="control-label"></label>
                <input asp-for="AptNumber" class="form-control" />
                <span asp-validation-for="AptNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdCode" class="control-label"></label>
                <input asp-for="HouseholdCode" class="form-control" />
                <span asp-validation-for="HouseholdCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearlyIncome" class="control-label"></label>
                <input asp-for="YearlyIncome" class="form-control" />
                <span asp-validation-for="YearlyIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfMembers" class="control-label"></label>
                <input asp-for="NumberOfMembers" class="form-control" />
                <span asp-validation-for="NumberOfMembers" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LICOVerified" /> @Html.DisplayNameFor(model => model.LICOVerified)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="JoinedDate" class="control-label"></label>
                <input asp-for="JoinedDate" class="form-control" />
                <span asp-validation-for="JoinedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceID" class="control-label"></label>
                <select asp-for="ProvinceID" class="form-control" asp-items="ViewBag.ProvinceID">
                    <option value="0">Select Province</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdStatusID" class="control-label"></label>
                <select asp-for="HouseholdStatusID" class="form-control" asp-items="ViewBag.HouseholdStatusID">
                    <option value="0">Select Status</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
