@model GROW_CRM.Models.DietaryRestriction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DietaryRestriction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Restriction" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="Restriction" class="form-control" />
                <span asp-validation-for="Restriction" class="text-danger"></span>
                <label asp-for="HealthIssueType" class="control-label"></label><span style="color:red">*</span>
                <select asp-for="HealthIssueTypeID" class="form-control" asp-items="ViewBag.HealthIssueTypeID">
                    <option value="">Select a Type</option>
                </select>
                <span asp-validation-for="HealthIssueTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Lookups" asp-route-Tab="DietaryRestrictionsTab">Back to Lookup List</a>
</div>

