@model GROW_CRM.Models.MemberIncomeSituation
<h5>Add Program Yearly Income</h5>
<small>In case receivng income from more than one program, select it from the list, detail the yearly amount and press <b>Create</b></small>
 <br />
 <br />
<form asp-action="Create" asp-controller="MemberIncomeSituations" id="theMemberIncomeSituationsForm">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberID" value='@ViewData["MemberID"]' />
            <div class="form-group">
                <label asp-for="IncomeSituationID" class="control-label"></label>
                <select asp-for="IncomeSituationID" class="form-control" asp-items="ViewBag.IncomeSituationID">
                    <option value="">Select the Income Situation</option>
                </select>
                <span asp-validation-for="IncomeSituationID" class="text-danger"></span>
                <small>Couldn't find Income Situation? Close this menu and click on ⚙️, <strong> next to "Add Yearly Income" button </strong> '</small>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Income" class="control-label"></label>
                <input asp-for="Income" class="form-control" />
                <span asp-validation-for="Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" id="submitMemberIncomeSituationsForm" class="btn btn-block btn-outline-success" />
            </div>
        </div>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>