@model GROW_CRM.Models.OrderItem
<h5>Edit Order Item</h5>
<form asp-action="Edit" asp-controller="OrderItems" id="theMemberIncomeSituationsForm">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="OrderID" value='@Model.OrderID' />
            <div class="form-group">
                <label asp-for="ItemID" class="control-label"></label><span style="color:red">*</span>
                <select asp-for="ItemID" class="form-control" asp-items="ViewBag.ItemID">
                </select>
                <span asp-validation-for="ItemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="submitMemberIncomeSituationsForm" class="btn btn-outline-secondary" />
            </div>
        </div>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>