@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_IdentityLayout";
}


<div class="centered form-bg p-0 m-0 rounded-lg identity-form">
    <h4 class="form-title rounded-top">@ViewData["Title"]</h4>
    <div class="pl-5 pr-5 pt-3 pb-3">
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
</div>
</div>
