@using GROW_CRM.ViewModels.ReportsViewModels

@{
    //@if ((int)ViewData["Count"] > 0)
    //{
    //    <a asp-action="DownloadSales" class="btn btn-info float-left">Download Sales Report</a>
    //}
    <br />
    <div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                @foreach (string header in (string[])ViewBag.Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (CategoriesReport item in ViewBag.Report)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @(Math.Round(Convert.ToDecimal(item.Total) / Convert.ToDecimal(ViewData["ItemsSold"]) * 100 , 2))%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}