<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Data</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Households</td>
                <td><a asp-controller="Reports" asp-action="DownloadHouseholdData">Download</a></td>
            </tr>
            <tr>
                <td>Members</td>
                <td><a asp-controller="Reports" asp-action="DownloadMemberData">Download</a></td>
            </tr>
            <tr>
                <td>Orders</td>
                <td><a asp-controller="Reports" asp-action="DownloadOrderData">Download</a></td>
            </tr>
        </tbody>
    </table>
</div>